@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
    /* Primary */
    --pale-blue: 225, 100%, 94%;
    --bright-blue: 245, 75%, 52%;

    /* Neutral */
    --very-pale-blue: 225, 100%, 98%;
    --desaturated-blue: 224, 23%, 55%;
    --dark-blue: 223, 47%, 23%;
}

* {
    box-sizing: border-box;
    margin: 0;
    font: inherit;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    font-family: 'Red Hat Display';
    font-weight: 500;

    background-image: url("./images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(var(--pale-blue));
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.large-gap {
    gap: 2rem;
}

.container {
    --border-radius: 2rem;
    border-radius: var(--border-radius);
    max-width: 28.125rem;
    background-color: hsl(var(--very-pale-blue));
    box-shadow: 0 1rem 1rem hsla(var(--dark-blue), 0.1);

    margin-inline: 2rem;
}

.container img {
    max-width: 100%;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}

.content {
    padding: 3rem;
    text-align: center;
}

h1 {
    font-size: 1.5rem;
    font-weight: 900;
    color: hsl(var(--dark-blue));
}

p {
    color: hsl(var(--desaturated-blue));
}

.plan-container {
    background-color: hsla(var(--pale-blue), 0.3);
    border-radius: 1rem;

    display: flex;
    gap: 1.5rem;
    align-items: center;

    padding: 1.5rem;
}

.music-circle {
    height: 3rem;
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 1.5rem;

    background-image: url("./images/icon-music.svg");
    background-position: center;
    background-repeat: no-repeat;
}

.annual-plan {
    flex: 1;
    text-align: start;
    color: hsl(var(--desaturated-blue));
}

h2 {
    font-weight: 700;
    color: hsl(var(--dark-blue));
}

button {
    border: none;
    background: none;
    outline: none;

    cursor: pointer;

    font-weight: 700;
}

.change-button {
    color: hsl(var(--bright-blue));
    text-decoration: underline;
}

.change-button:hover, .change-button:focus-visible {
    color: hsla(var(--bright-blue), 0.7);
    text-decoration: none;
}

.payment-button {
    color: hsl(var(--very-pale-blue));
    background-color: hsl(var(--bright-blue));
    padding: 1rem;
    border-radius: 1rem;

    box-shadow: 0 1rem 1rem hsla(var(--dark-blue), 0.15);
}

.payment-button:hover, .payment-button:focus-visible {
    background-color: hsla(var(--bright-blue), 0.7);
}

.cancel-button {
    display: inline;
    align-self: center;
    color: hsl(var(--desaturated-blue));
}

.cancel-button:hover, .cancel-button:focus-visible {
    color: hsl(var(--dark-blue));
}

@media screen and (max-width: 600px) {
    body {
        background-image: url("./images/pattern-background-mobile.svg");
    }


    .container {
        max-width: 24rem;
    }
    
    .content {
        padding: 2rem;
    }
}